@font-face {
    font-family: 'instaFont';
    src: url('/fonts/Instagram\ Sans\ Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'instafont' ;
    box-sizing: border-box;
    color: #fff;
}

#main{
    height: 100%;
    width: 100vw;
    background-color: #000;
    position: absolute;
}
.aside{
    height: 100vh;
    width: 18%;
    border-right: 1px solid #ffffff76;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 1%;
    position: relative;
    top: 0;
    left: 0;
}
.insta-logo {
    width: 70%;
    height: 10%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.insta-logo img{
    width: 100%;
}
#insta-icon-logo{
    display: none;
}
.links{
    position: absolute;
    bottom: 5%;
    left: 20%;
}
.links ul{
    height: 75vh;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: azure; */
}
.links ul li{
    list-style: none;
    font-size: 2.8vh;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 8px 10px 8px 2px;
    border-radius: 10px;
}
.links ul li:hover{
    background-color: rgba(171, 171, 171, 0.216);
}
.links ul li a{
    text-decoration: none;
}
.aside .links i{
    padding-right: 10px;
}

@media (max-width:965px) {
    #insta-img-logo{
        display: none;
    }
    #insta-icon-logo{
        display: block;
    }
    .insta-logo{
        width: 50%;
        left: 20%;
    }
    .links ul li span{
        display: none;
    }
    .links ul li i{
        font-size: 4vh;
    }
    .links{
        left: 30%;
    }
}